<h1>Theater #<%= @theater.id %></h1>


<p>
  <b>Name:</b>
  <%= @theater.name %>
</p>

<p>
  <b>Address:</b>
  <%= @theater.address %>
</p>

<p><b>How map?</b> = map is shown with render map, and then opens _map.html.erb. <br>
Then uses a "uri" to show address in a google map...  and it works!  Very cool!</p>

<%= render 'map' %>
